p{
    font-weight: bold;
    font-size: 20px;
}
#top{
    text-decoration: underline;
}
.emphasizedText{
    font-style: italic;
    color: indigo;
}
a {
    color:blue
}
body{
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border: 5px solid black;
    margin: 50px;
    padding: 10px;

}
ul{
    list-style-position: inside;
    text-align: center;
}
ol{
    text-align: center;
    list-style-position: inside;
}
